Por seleccion/bin/Debug/net6.0/Por seleccion.deps.json
Por seleccion/bin/Debug/net6.0/Por seleccion.dll
Por seleccion/bin/Debug/net6.0/Por seleccion.exe
Por seleccion/bin/Debug/net6.0/Por seleccion.pdb
Por seleccion/bin/Debug/net6.0/Por seleccion.runtimeconfig.json
Por seleccion/obj/Por seleccion.csproj.nuget.dgspec.json
Por seleccion/obj/Por seleccion.csproj.nuget.g.props
Por seleccion/obj/Por seleccion.csproj.nuget.g.targets
Por seleccion/obj/project.assets.json
Por seleccion/obj/project.nuget.cache
Por seleccion/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Por seleccion/obj/Debug/net6.0/apphost.exe
Por seleccion/obj/Debug/net6.0/Por seleccion.AssemblyInfo.cs
Por seleccion/obj/Debug/net6.0/Por seleccion.AssemblyInfoInputs.cache
Por seleccion/obj/Debug/net6.0/Por seleccion.assets.cache
Por seleccion/obj/Debug/net6.0/Por seleccion.csproj.AssemblyReference.cache
Por seleccion/obj/Debug/net6.0/Por seleccion.csproj.CoreCompileInputs.cache
Por seleccion/obj/Debug/net6.0/Por seleccion.csproj.FileListAbsolute.txt
Por seleccion/obj/Debug/net6.0/Por seleccion.dll
Por seleccion/obj/Debug/net6.0/Por seleccion.GeneratedMSBuildEditorConfig.editorconfig
Por seleccion/obj/Debug/net6.0/Por seleccion.genruntimeconfig.cache
Por seleccion/obj/Debug/net6.0/Por seleccion.GlobalUsings.g.cs
Por seleccion/obj/Debug/net6.0/Por seleccion.pdb
Por seleccion/obj/Debug/net6.0/ref/Por seleccion.dll
Por seleccion/obj/Debug/net6.0/refint/Por seleccion.dll
Por insercion/bin/Debug/net6.0/Por insercion.deps.json
Por insercion/bin/Debug/net6.0/Por insercion.dll
Por insercion/bin/Debug/net6.0/Por insercion.exe
Por insercion/bin/Debug/net6.0/Por insercion.pdb
Por insercion/bin/Debug/net6.0/Por insercion.runtimeconfig.json
Por insercion/obj/Por insercion.csproj.nuget.dgspec.json
Por insercion/obj/Por insercion.csproj.nuget.g.props
Por insercion/obj/Por insercion.csproj.nuget.g.targets
Por insercion/obj/project.assets.json
Por insercion/obj/project.nuget.cache
Por insercion/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Por insercion/obj/Debug/net6.0/apphost.exe
Por insercion/obj/Debug/net6.0/Por insercion.AssemblyInfo.cs
Por insercion/obj/Debug/net6.0/Por insercion.AssemblyInfoInputs.cache
Por insercion/obj/Debug/net6.0/Por insercion.assets.cache
Por insercion/obj/Debug/net6.0/Por insercion.csproj.AssemblyReference.cache
Por insercion/obj/Debug/net6.0/Por insercion.csproj.CoreCompileInputs.cache
Por insercion/obj/Debug/net6.0/Por insercion.csproj.FileListAbsolute.txt
Por insercion/obj/Debug/net6.0/Por insercion.dll
Por insercion/obj/Debug/net6.0/Por insercion.GeneratedMSBuildEditorConfig.editorconfig
Por insercion/obj/Debug/net6.0/Por insercion.genruntimeconfig.cache
Por insercion/obj/Debug/net6.0/Por insercion.GlobalUsings.g.cs
Por insercion/obj/Debug/net6.0/Por insercion.pdb
Por insercion/obj/Debug/net6.0/ref/Por insercion.dll
Por insercion/obj/Debug/net6.0/refint/Por insercion.dll
Burbuja/bin/Debug/net6.0/Burbuja.deps.json
Burbuja/bin/Debug/net6.0/Burbuja.dll
Burbuja/bin/Debug/net6.0/Burbuja.exe
Burbuja/bin/Debug/net6.0/Burbuja.pdb
Burbuja/bin/Debug/net6.0/Burbuja.runtimeconfig.json
Burbuja/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Burbuja/obj/Debug/net6.0/apphost.exe
Burbuja/obj/Debug/net6.0/Burbuja.AssemblyInfo.cs
Burbuja/obj/Debug/net6.0/Burbuja.AssemblyInfoInputs.cache
Burbuja/obj/Debug/net6.0/Burbuja.assets.cache
Burbuja/obj/Debug/net6.0/Burbuja.csproj.AssemblyReference.cache
Burbuja/obj/Debug/net6.0/Burbuja.csproj.CoreCompileInputs.cache
Burbuja/obj/Debug/net6.0/Burbuja.csproj.FileListAbsolute.txt
Burbuja/obj/Debug/net6.0/Burbuja.dll
Burbuja/obj/Debug/net6.0/Burbuja.GeneratedMSBuildEditorConfig.editorconfig
Burbuja/obj/Debug/net6.0/Burbuja.genruntimeconfig.cache
Burbuja/obj/Debug/net6.0/Burbuja.GlobalUsings.g.cs
Burbuja/obj/Debug/net6.0/Burbuja.pdb
Burbuja/obj/Debug/net6.0/ref/Burbuja.dll
Burbuja/obj/Debug/net6.0/refint/Burbuja.dll
Burbuja/obj/Burbuja.csproj.nuget.dgspec.json
Burbuja/obj/Burbuja.csproj.nuget.g.props
Burbuja/obj/Burbuja.csproj.nuget.g.targets
Burbuja/obj/project.assets.json
Burbuja/obj/project.nuget.cache
Quickshort/.gitignore
